@import url('https://fonts.googleapis.com/css?family=Pacifico|Poppins');

.navbar{
  background-color: rgb(10,10,30);
}

.navbar .navbar-brand{
  color: #fff;
  font-size: 18px;
  font-family: 'Pacifico', cursive;
  color: rgb(180,30,10);
  font-size: 22px;
  margin-left: 60px;
}

.navbar-nav .nav-item .nav-link{
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  transition: all .4s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover{
  color: rgb(180,10,10);
}
