<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>


>
<div class="row">
  <div class="col-12">
      <table>
          <tr>
            <td><strong>ID</strong></td>
            <td><strong>Nombre del Producto</strong></td>
            <td><strong>Precio</strong></td>
          </tr>
           
          <tr>
            <td>1</td>
            <td>Producto1</td>
            <td>$16.00</td>
          </tr>
           
          <tr>
            <td>2</td>
            <td>Producto1</td>
            <td>$22.00</td>
          </tr>
           
          <tr>
            <td>3</td>
            <td>Producto1</td> 
            <td>$78.00</td>
          </tr>
          </table>
  </div>
</div>
