<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>



<div class="row">
  <div class="col-12">
      <table>
          <tr>
            <td><strong>N_Product</strong></td>
            <td><strong>Nombre del Producto</strong></td>
            <td><strong>Cantidad</strong></td>
            <td><strong>Precio</strong></td>
          </tr>
           
          <tr>
            <td>1</td>
            <td>Producto1</td>
            <td>45 piezas</td>
            <td>$16.00</td>
          </tr>
           
          <tr>
            <td>2</td>
            <td>Producto2</td>
            <td>89 piezas</td>
            <td>$83.00</td>
          </tr>
           
          <tr>
            <td>3</td>
            <td>Producto3</td> 
            <td>37 piezas</td>
            <td>$78.00</td>
          </tr>

          <tr>
            <td>4</td>
            <td>Producto4</td>
            <td>89 piezas</td>
            <td>$32.00</td>
          </tr>

          <tr>
            <td>5</td>
            <td>Producto5</td>
            <td>2 piezas</td>
            <td>$28.00</td>
          </tr>

          <tr>
            <td>6</td>
            <td>Producto6</td>
            <td>77 piezas</td>
            <td>$52.00</td>
          </tr>

          <tr>
            <td>7</td>
            <td>Producto7</td>
            <td>10 piezas</td>
            <td>$22.00</td>
          </tr>

          <tr>
            <td>8</td>
            <td>Producto8</td>
            <td>9 piezas</td>
            <td>$28.00</td>
          </tr>

          <tr>
            <td>9</td>
            <td>Producto9</td>
            <td>96 piezas</td>
            <td>$56.00</td>
          </tr>
          </table>
  </div>
</div>
